<md-dialog aria-label="Unsaved">
  <form ng-cloak>
    <md-dialog-content>
      <div class="md-dialog-content">
       <p> {{'unsaved.data.text' | translate}}
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-click = "cancel()">
        {{'cancel.label' | translate}}
      </md-button>
      <span flex></span>
      <md-button ng-click="proceed(false)">
       {{'proceed.label' | translate}}
      </md-button>
      <md-button ng-click="proceed(true)">
        {{'save.and.proceed.label' | translate}}
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>

